<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Scales.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="DBConnection" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Scales;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
 <userSettings>
  <Scales.Properties.Settings>
   <setting name="ScannerPort" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ScanPresent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScalesPresent" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ScalesPort" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="ScalesBauldRate" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ScalesDataBits" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="ScalesParity" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="ScalesStopBits" serializeAs="String">
    <value>One</value>
   </setting>
   <setting name="Cam1Present" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Cam2Present" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Cam1Ip" serializeAs="String">
    <value />
   </setting>
   <setting name="Cam2Ip" serializeAs="String">
    <value />
   </setting>
   <setting name="Cam1Login" serializeAs="String">
    <value />
   </setting>
   <setting name="Cam2Login" serializeAs="String">
    <value />
   </setting>
   <setting name="Cam1Pass" serializeAs="String">
    <value />
   </setting>
   <setting name="Cam2Pass" serializeAs="String">
    <value />
   </setting>
   <setting name="ScalesName" serializeAs="String">
    <value />
   </setting>
  </Scales.Properties.Settings>
 </userSettings>
</configuration>
